[Unit]
Description=Celery Worker
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/powerranger/Desktop/rakesh/vdb/stream_proxy
ExecStart=/home/powerranger/anaconda3/envs/stt-vdb/bin/python entry.py
Restart=always
RestartSec=5
User=powerranger
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
