[Unit]
Description=Proxy Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/powerranger/Desktop/rakesh/vdb/stream_proxy
ExecStart=/home/powerranger/anaconda3/envs/stt-vdb/bin/uvicorn app:app --host 0.0.0.0 --port 8080
Restart=always
RestartSec=5
User=powerranger
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
